head
  meta(charset="utf-8")
  meta(name="apple-mobile-web-app-title", content="Natan Sągol")
  meta(name="application-name", content="Natan Sągol")
  meta(name="msapplication-TileColor", content="#000000")
  meta(
    name="msapplication-config",
    content=revisions["assets/manifest/browserconfig.xml"]
  )
  meta(name="theme-color", content="#000000")
  meta(
    name="viewport"
    content="width=device-width,minimum-scale=1,initial-scale=1"
  )

  script(async src="https://cdn.ampproject.org/v0.js")
  title Natan Sągol

  link(
    rel='canonical'
    href='https://merlinnot.com'
  )
  link(
    rel="apple-touch-icon",
    sizes="180x180",
    href=revisions["assets/manifest/apple-touch-icon.png"]
  )
  link(
    rel="icon",
    type="image/png",
    sizes="32x32",
    href=revisions["assets/manifest/favicon-32x32.png"]
  )
  link(
    rel="icon",
    type="image/png",
    sizes="16x16",
    href=revisions["assets/manifest/favicon-16x16.png"]
  )
  link(
    rel="manifest",
    href=revisions["assets/manifest/site.webmanifest"]
  )
  link(
    rel="mask-icon",
    href=revisions["assets/manifest/safari-pinned-tab.svg"],
    color="#000000"
  )
  link(
    rel="shortcut icon",
    href=revisions["assets/manifest/favicon.ico"]
  )

  include amp-boilerplate.pug
  style(amp-custom)
  script(
    async
    custom-element="amp-animation"
    src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"
  )
  script(
    async
    custom-element="amp-analytics"
    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"
  )
